
body{
  background-color: black;
  font-family: 'Dancing Script';
}
.Contenido{
  max-width: 900px;
  margin: 0 auto;
}
.Cabecera{
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  width: 0 auto;
}
.Cabecera h1{
  color: white;
  text-shadow: 2px 2px blacK;
  margin-left: 2px;
}
.Enlaces{
text-align: right;
}
a{
  color: white;
  font-size: 1.3em;
  margin-right: 2px;
}
.Contenido .caja1{
  width: 90%;
  height: 400px;
  background-color: #82c3a6;
  margin: 10px auto;
  padding: 10px;
}
.caja1 img{
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px #02010a;
}
.cajas{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.caja2{
  width: 45%;
  height: 100%;
  background-color:  #d5c75f;
  padding: 10px;
  display: inline-block;
  margin: 0 auto;
  border: 1px solid black;
}
.caja2 .imagen2{
  width: 100%;
  height: 70%;
  box-shadow: 2px 2px #02010a;

}
.imagen2:hover{
  transform: rotate(10deg);
  transition: 1s;
  box-shadow: 2px 2px #82c3a6;
}
.caja3{
  width: 45%;
  height: 100%;
  background-color:  #d5c75f;
  padding: 10px;
  display: inline-block;
  margin: 0 auto;
  border: 1px solid black;

}
.caja3 .imagen3{
  width: 100%;
  height: 70%;
  box-shadow: 2px 2px #02010a;

}
.imagen3:hover{
  transform: translateY(-5px)
             translateX(20px);
  transition: 1s;
  box-shadow: 2px 2px #82c3a6;
}


footer{
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
}
#columna1{
  margin-left: 20px;
}
#columna2{
  vertical-align: top;
}
#columna3{
}
#columna4{
  vertical-align: top;
}
#columna1, #columna2, #columna3, #columna4{
  display: inline-block;
  width: 24%;
}




#c1, #c2, #c3{
  display: inline-block;
  width: 30%;
  padding: 13.50px;
  background-color: #d5c75f;
}
#c1 img{
  width: 100%;
  margin: 7px 0px;
  box-shadow: 2px 2px #02010a;
}
#c2 img{
  width: 100%;
  margin: 7px 0px;
  box-shadow: 2px 2px #02010a;
}
#c3 img{
  width: 100%;
  margin: 7px 0px;
  box-shadow: 2px 2px #02010a;

}
.paisaje1{
  filter: blur(10px);

}
.paisaje2,.paisaje4,.paisaje6{
  filter: grayscale(100%);
}
.paisaje3{
  filter: sepia(90%);
}




#cc1, #cc2, #cc3{
  display: inline-block;
  width: 30%;
  padding: 13.50px;
  background-color: #d5c75f;
}
#cc1 img{
  width: 100%;
  margin: 7px 0px;
  box-shadow: 2px 2px #02010a;
}
#cc2 img{
  width: 100%;
  margin: 7px 0px;
  box-shadow: 2px 2px #02010a;
}
#cc3 img{
  width: 100%;
  margin: 7px 0px;
  box-shadow: 2px 2px #02010a;
}
.retrato1{
  filter: blur(10px);

}
.retrato2,.retrato4,.retrato6{
  filter: grayscale(100%);
}
.retrato3{
  filter: sepia(90%);
}

@media (max-width:1000px){
  .Cabecera{
    text-align: center;
    width: 100%;
  }
  .Enlaces{
    text-align: center;
  }
  .contenedor{
    width: 100%;
  }
  .Contenido .caja1{
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }
  .Contenido{
    width: 100%;
    text-align: center;
  }
  .Contenido .caja2{
    width: 80%;
    margin: 0 auto;
  }
  .Contenido .caja3{
    width: 80%;
    margin: 0 auto;
  }

  .tabla #columna1{
    width: 90%;
  }
  .tabla #columna2{
    width: 90%;
  }
  .tabla #columna3{
    width: 90%;
  }
  .tabla #columna4{
    width: 90%;
  }

  .paisajes #c1{
    width: 90%;
    margin-top: 10px;
  }
  .paisajes #c2{
    width: 90%;
  }
  .paisajes #c3{
    width: 90%;
  }

  .retratos #cc1{
    width: 90%;
    margin-top: 10px;
  }
  .retratos #cc2{
    width: 90%;
  }
  .retratos #cc3{
    width: 90%;
  }
}
